In [13]:
import pandas as pd

In [12]:
df=pd.read_csv('D:\\DUCAT\\Pandas\\Fortune_18.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
df.replace('IT Services','consulting services')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,consulting services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,consulting services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,consulting services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,consulting services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,consulting services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,consulting services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,consulting services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
df.replace([1,2,3,4,5],[5,4,3,2,1])

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,5,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,4,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,2,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,1,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [7]:
df.replace({'Name':'Mattouch'},'Himalya')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Himalya,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
df.replace('[A-Z a-z]',0,regex=True)

   ID  Name  Industry  Inception  Revenue  Expenses    Profit Growth
0   1     0         0       2009        0         0   5274553    30%
1   2     0         0       2010        0         0  11412916    20%
2   3     0         0       2012        0         0   3005820     7%
3   4     0         0       2013        0         0   6597557     7%
4   5     0         0       2009        0         0   3138627     7%
5   6     0         0       2006        0         0   8427816     7%
6   7     0         0       2010        0         0   3005116     6%
7   8     0         0       2009        0         0   5573830     4%
8   9     0         0       2011        0         0  11901180    18%
9  10     0         0       2011        0         0   5453060     7%

In [7]:
df.replace({'Industry':'[A-Z a-z]'},0,regex=True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,0,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,0,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,0,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,0,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,0,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,0,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,0,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,0,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,0,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,0,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [16]:
df=pd.read_csv('D:\\DUCAT\\Pandas\\Fortune_18.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [23]:
df.replace('Health' , method='ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [29]:
df.replace('Health' , method='ffill',limit=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [34]:
df.replace('7%','1%',inplace=True)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,1%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,1%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,1%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,1%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,1%